<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Add New</title>
    <!--Load bootstrap.css file-->
    <link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Add New User</h2>
            <form action="/post" method="post">
                <div class="form-row">
                    <div class="col">
                        <input type="text" name="textname" class="form-control" placeholder="Name">
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Load bootstrap.js file-->
<script src="js/bootstrap.js"></script>
</body>
</html>